#!/bin/bash

################################
# multivm sysbench config params
################################

# multivm setup related
AIO_MODE=native
VM_LOGIN_USER=root
UTIL_NAMES=sysbench-0.4.12.tar.gz,my.cnf.example
SCRIPT_NAMES=setup_sysbench.sh,prepare_sysbench_tests.sh,run-sysbench.sh,profit3_sysbench.sh,start_sysbench.sh,run-sysbench-pbench.sh
DOWNLOAD_LINK=http://pkgs.fedoraproject.org/repo/pkgs/sysbench/sysbench-0.4.12.tar.gz/3a6d54fdd3fe002328e4458206392b9d/sysbench-0.4.12.tar.gz
REINSTALL_OPTION=0
# supply =1, if you wanna remove and reset previous mariadb/sysbench traces

# sysbench execution related
TIME=600
THREADS="1 2 4 8"
OLTP_TABLE_SIZE=1000000
ENABLE_PBENCH=0
MULTIVM_ROOT_DIR=/opt/multivm_sysbench/
RESULTS_DIR=${MULTIVM_ROOT_DIR%/}/results/
E_LOG_FILENAME="$AIO_MODE"_e.log

# define mysql auth
MYSQL_USERNAME=root
MYSQL_PASS=90feet-

# leave old mysql pass blank since we don't change it.
MYSQL_PASS_OLD=""
