#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]
# Uncomment these if you want to use a nonstandard connection to MariaDB
#socket=/tmp/mysql.sock
#port=3306

#
# include all files from the config directory
#
# !includedir /etc/my.cnf.d

# This will be passed to all MariaDB clients
[client]
user=root
password=90feet-

# The MariaDB server
[mysqld]
# Directory where you want to put your data
datadir=/home/native/mysql_data
# Directory for the errmsg.sys file in the language you want to use
#language=/usr/share/mysql/english
# Create a file where the InnoDB/XtraDB engine stores it's data
innodb_data_home_dir = /home/native/mysql_data
innodb_data_file_path = ibdata1:128M:autoextend
innodb_log_group_home_dir = /home/native/mysql_data
innodb_buffer_pool_size = 8192M
innodb_additional_mem_pool_size = 256M
innodb_log_file_size = 2048M
innodb_log_buffer_size = 128M
## write logs every minute instead of every transaction
innodb_flush_log_at_trx_commit = 0
innodb_lock_wait_timeout = 50
innodb_doublewrite = 0
innodb_flush_method = O_DIRECT
innodb_thread_concurrency = 0
innodb_max_dirty_pages_pct = 80
#loose-innodb_file_per_table

# This is the prefix name to be used for all log, error and replication files
log-basename=mysqld

# Enable logging by default to help find problems
##general-log
#log-slow-queries
